<div class="container">
  <div class="row mt-1">
   
    <div class="col-xs">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Playlista</h4>
          <input type="checkbox"[(ngModel)]="hide" >
          <p class="card-text"  >checkbox ngif</p>
           <input type="text" *ngIf="!hide" >
          
          <p class="card-text" >checkbox hidden</p>
          <input type="text" [hidden]=hide>

        </div>
    </div>
    </div>
  </div>
</div>
<!--
-ngif powoduje utrate danych wpisanych w polu a hidden nie poniewaz hidden ukrywa element a nie usuwa go jak ngif
- ngif kiedy nie potrzebujemy zapamietywac zmian lub kiedy mamy fiele elementów które nie muszą być wczytywane
-można zapamiętywać wartości za pomocą javascript 


-->